.signup {
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
}
.signup h2{
    text-align: start;
    font-size: 40px;
    margin-left: 30px;
    margin-bottom: 20px;
}
.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #a4a4a4;
    border-radius: 30px;
    border: 1px solid #ccc;
    padding: 40px;
}
.form input {
    width: 20vw;
    padding: 10px;
    margin: 0;
    border: 2px solid #ccc;
    border-radius: 10px;
}
.form-container .btn {
    align-self: center;
    padding: 8px;
    margin: 0 auto;
}
.btn button {
    border: none;
    font-size: large;
    color: #ccc;
    background-color: #413c3c;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}
form p {
    width: 100%;
    text-align: center;
    margin: 8px 10px;
    font-size: 18px;
}
form p a {
    color: #007bff;
    text-decoration: none;
}

